#app {
  font-family: "Barlow";
  font-size: 1.2em;
  max-width: 768px;
  margin: auto;
  padding-bottom:5em;
}

h1,h2,h3 {
  font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}